/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.contact-s3 {
  background-blend-mode: multiply !important;
  background-color: #999 !important;
}

/* line 8, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 12, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

/* line 15, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 21, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 22, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 29, ../sass/partials/_modules.scss */
  .contact-s1 {
    background-position: right !important;
  }

  /* line 34, ../sass/partials/_modules.scss */
  .dogs-s1, .dogs-s2, .dogs-s3 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 35, ../sass/partials/_modules.scss */
  .dogs-s1 *, .dogs-s2 *, .dogs-s3 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 42, ../sass/partials/_modules.scss */
  .dogs-s3 {
    background-position: right !important;
  }

  /* line 47, ../sass/partials/_modules.scss */
  .index-s1, .index-s2, .index-s3, .index-s4, .index-s5, .index-s6 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 48, ../sass/partials/_modules.scss */
  .index-s1 *, .index-s2 *, .index-s3 *, .index-s4 *, .index-s5 *, .index-s6 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 55, ../sass/partials/_modules.scss */
  .index-s2, .index-s4 {
    background-position: right !important;
  }

  /* line 60, ../sass/partials/_modules.scss */
  .navbar-toggler {
    background-color: #666;
    border-color: #333;
  }
  /* line 64, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #666;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }

  /* line 72, ../sass/partials/_modules.scss */
  .story-s1, .story-s2, .story-s3 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 73, ../sass/partials/_modules.scss */
  .story-s1 *, .story-s2 *, .story-s3 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 80, ../sass/partials/_modules.scss */
  .story-s2 {
    background-position: right !important;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.dogs-s1 {
  background-attachment: scroll;
  background-image: url(../img/dogs/dogs-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.dogs-s2 {
  background-attachment: scroll;
  background-image: url(../img/dogs/dogs-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.dogs-s3 {
  background-attachment: scroll;
  background-image: url(../img/dogs/dogs-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.dogs-s4 {
  background-attachment: scroll;
  background-image: url(../img/dogs/dogs-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s4 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s5 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s6 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s6.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.story-s1 {
  background-attachment: scroll;
  background-image: url(../img/story/story-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.story-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.story-s3 {
  background-attachment: scroll;
  background-image: url(../img/story/story-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.user-s1 {
  background-attachment: scroll;
  background-image: url(../img/user/user-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.dogs-s4 {
  background-blend-mode: multiply !important;
  background-color: #999 !important;
}

/* line 10, ../sass/partials/_modules_init.scss */
.story-s3 {
  background-blend-mode: multiply !important;
  background-color: #999 !important;
}

/* line 16, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
