@include aoa-bg-series($bg__classes,$bg__aoa);

.dogs{
    &-s4{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.story{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}