$prefix: "../";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__dogs-img: 
    $prefix+"img/dogs/dogs-s1.jpg",
    $prefix+"img/dogs/dogs-s2.jpg",
    $prefix+"img/dogs/dogs-s3.jpg",
    $prefix+"img/dogs/dogs-s4.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    $prefix+"img/index/index-s2.jpg",
    $prefix+"img/index/index-s3.jpg",
    $prefix+"img/index/index-s4.jpg",
    $prefix+"img/index/index-s5.jpg",
    $prefix+"img/index/index-s6.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__story-img: 
    $prefix+"img/story/story-s1.jpg",
    "",
    $prefix+"img/story/story-s3.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__classes:
    "comingsoon",
    "contact",
    "dogs",
    "error",
    "index",
    "privacy",
    "story",
    "user";
$bg__aoa:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__dogs-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__story-img,
    $bg__user-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 